@import "tailwindcss";


*{
  color: #fff;
}

body{
  background-color: #111;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;   /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

#tasklist::-webkit-scrollbar {
    display: none;
}
#tasklist {
    -ms-overflow-style: none;
    scrollbar-width: none;
}